h1 {
  text-align: center;
  justify-content: center;
  margin-top: 200px;
  font-size: 50px;
  background-color: beige;
}

h2 {
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 50px;
  background-color: beige;
}
